<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MetaFeedConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="MetaFeedConsole.log" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" formatter="Text Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp} Message: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General" />
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <applicationSettings>
    <MetaFeedConsole.Properties.Settings>
      <setting name="InputBlogFilePath" serializeAs="String">
        <value>Bloggers.xml</value>
      </setting>
      <setting name="OutputAtomFeedFilePath" serializeAs="String">
        <value>DotNetGermanBloggersAtom.xml</value>
      </setting>
      <setting name="OutputRssFeedFilePath" serializeAs="String">
        <value>DotNetGermanBloggersRss.xml</value>
      </setting>
      <setting name="OutputFeedDescription" serializeAs="String">
        <value>Alle Blogs von DotNetGerman.com</value>
      </setting>
      <setting name="OutputFeedLink" serializeAs="String">
        <value>http://blogs.dotnetgerman.com/</value>
      </setting>
      <setting name="OutputFeedTitle" serializeAs="String">
        <value>DotNetGerman Bloggers</value>
      </setting>
      <setting name="OutputItemsNumber" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="OutputFeedImageUrl" serializeAs="String">
        <value>http://localhost:52834/images/dotnetgemanbloggers_feedlogo.png</value>
      </setting>
      <setting name="OutputFeedGenerator" serializeAs="String">
        <value>DotNetGerman.com</value>
      </setting>
      <setting name="OutputFeedCopyright" serializeAs="String">
        <value>Copyright 2004-2014 DotNetGerman.com</value>
      </setting>
    </MetaFeedConsole.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
